*
{
	margin: 0;
	padding: 0;
}


header
{
	background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(bgfaq.jpg);
	height: 150vh;
	background-size: cover;
	background-position: center;
}


.main-nav
{
	float: right;
	list-style: none;
	margin-top: 25px;
}


.main-nav li
{
	display: inline-block;
}


.main-nav li a
{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "roboto", sans-sarif;
	font-size: 15px;	
}


.main-nav li a:hover
{
	border: 1px solid white;
}


.logo img
{
	width: 230px;
	height: auto;
	float: left; 
}


.main
{
	position: absolute;
	width: 1200px;
	margin-right: 100px;
	margin-left: 290px;
	margin-top: 200px;
}

.main a
{
	border: 1px solid white;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(bgfaq2.jpg);
	height: 5px;
	border-width: 4px;
	padding-top: 20px;
	padding-bottom: 650px;
	padding-right: 120px;
	padding-left: 120px;
	margin-top: 20px;
	margin-bottom: 0px;
}

.main h1
{
	font-size: 40px
}

.main h2
{
	margin-left: 35px;
}

.main h3
{
	margin-left: 35px;
	margin-right: 400px;
}

.active h5
{
	margin-left: 300px;
	font-size: 70px;
	color: white;
}