*
{
	margin: 0;
	padding: 0;
}


.main-nav
{
  float: right;
  list-style: none;
  margin-top: 25px;
}

.main-nav li
{
  display: inline-block;
}

.main-nav li a
{
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  font-family: "roboto", sans-sarif;
  font-size: 15px;  
}

.main-nav li a:hover
{
  border: 1px solid white;
}

.logo img
{
  width: 230px;
  height: auto;
  float: left; 
}